<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks; index as i;"
     [routerLink]="link.path"
     routerLinkActive="{i: 'active-nav-link'}"
  >
    <span *ngIf="!link.icon">{{ link.label }}</span>
    <mat-icon [title]="link.label" *ngIf="link.icon">{{ link.icon }}</mat-icon>
  </a>

  <a mat-tab-link
    [routerLink]="userMenuSelection.path"
    routerLinkActive="'active-nav-link'" #rla="routerLinkActive"
    [ngClass]="{hide: !auth.loggedInUser.email || userMenuSelection.label === 'Logout' || !rla.isActive}"
  >
  <span *ngIf="!userMenuSelection.icon">{{ userMenuSelection.label }}</span>
  <mat-icon *ngIf="userMenuSelection.icon">{{ userMenuSelection.icon }}</mat-icon>
  </a>

  <ng-template #anonymousUser>
    <button
      (click)="login()"
      mat-button
      class="active-nav-link"
    >
      {{ loggedOutUserMenu.label }}
    </button>
  </ng-template>

  <button
    *ngIf="auth.loggedInUser.email; else anonymousUser"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    {{ auth.loggedInUser.name }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</nav>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button
    *ngFor="let item of loggedInUserMenu.items"
    [ngClass]="{hide: item.roles && !isAuthorized(item.roles)}"
    (click)="onUserMenuClick(item)"
    mat-menu-item>
      {{ item.label }}
    </button>
</mat-menu>
