@import "../sass/colors-and-sizes";
.mat-raised-button {
  margin-top: $xlarge-size;
  background-color: $blue-background-color;
  color: $while-text-color;
  padding: $small-size $medium-size;
  font-size: $medium-size;
}
