@import "../sass/colors-and-sizes";

.loginWithGoogle {
  display: flex;
  height: $large-size;
  justify-content: center;
  align-items: center;
}
.mat-raised-button {
  background-color: $blue-background-color;
  color: $while-text-color;
  padding: $small-size $medium-size;
  font-size: $medium-size;
}
