<ng-template #addNew>
  <button
    (click)="add()"
    mat-raised-button>New Product
  </button>
</ng-template>
<h2
  mat-raised-button
  *ngIf="displayMode.mode; else addNew">
  {{ displayMode.mode === 1 ? 'Edit Product' : 'Add Product'}}
</h2>

<ng-template class="list-mode" #listMode>
  <app-product-list  (update)="setDisplayMode($event)"></app-product-list>
</ng-template>
<div class="details-mode" *ngIf="displayMode.mode; else listMode">
  <app-product-update [displayMode]="displayMode" (update)="setDisplayMode()"></app-product-update>
</div>
