@import "../../../sass/colors-and-sizes";

.mat-form-field {
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.form-buttons > button {
  margin-right: 1rem;
}

.update {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.update > div > img {
  width: 100%;
  height: auto;
}

.card {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
}

.card-text {
  text-align: center;
}
