$active-link-color: rgba(197,202,233,.3);
$blue-background-color: rgb(104, 104, 247);
$while-text-color: rgb(253, 252, 252);

//spacing
$small-size: 0.5rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;
