.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid > {
  flex: 1;
}
.grid-nowrap {
  flex-wrap: nowrap;
}
.grid-vertical {
  flex-direction: column;
}
.grid-section-size-1 {
  flex: 1 1 8.33%;
}
.grid-section-size-2 {
  flex: 1 1 16.6666%;
}
.grid-section-size-3 { /* 25% */
  flex: 1 1 25%;
}
.grid-section-size-4 {
  flex: 1 1 33.3333%;
}
.grid-section-size-5 {
  flex: 1 1 41.6666%;
}
.grid-section-size-6 { /* 50% */
  flex: 1 1 50%;
}
.grid-section-size-7 {
  flex: 1 1 58.3333%;
}
.grid-section-size-8 {
  flex:  1 66.6666%;
}
.grid-section-size-9 {    /* 75% */
  flex: 1 1 75%;
}
.grid-section-size-10 {
  flex: 1 1 83.3333%;
}
.grid-section-size-11 {
  flex: 1 1 91.6666%;
}
.grid-section-size-12 { /* 100% */
  flex: 1 1 100%;
}
